@model CommerceIdeaBank.Models.ViewModels.Admin.AdminProjectViewModel
@using CommerceIdeaBank.GlobalConstants

@{
    ViewBag.Title = "Archive Idea";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated)
{
    int role = (int)HttpContext.Current.Session["userRole"];

    if (role == UserRole.ADMIN)
    {

        <h2 class="header">Archive Idea</h2>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div>
                <h2>Contribution</h2>
                <hr />

                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.ProjectID)
                @Html.HiddenFor(model => model.Username)
                @Html.HiddenFor(model => model.PostDate)
                @Html.HiddenFor(model => model.IsArchived)
                @Html.HiddenFor(model => model.Status)

                <table class="view_table">
                    <tr>
                        <td>Username: </td>
                        <td>@Html.DisplayFor(model => model.Username)</td>
                    </tr>
                    <tr>
                        <td>Description: </td>
                        <td>@Html.DisplayFor(model => model.ProjectDesc)</td>
                    </tr>
                    <tr>
                        <td>Justification: </td>
                        <td>@Html.DisplayFor(model => model.BusinessJustification)</td>
                    </tr>
                    <tr>
                        <td>Post Date: </td>
                        <td>@Html.DisplayFor(model => model.PostDate)</td>
                    </tr>
                </table>

                <div>
                    <input type="submit" value="Archive" class="button" />
                </div>
            </div>
        }
    
    }
    else
    {
        //Error. Permissions invalid. Log user off and redirect to default home
        Response.Redirect(Url.Action(ActionName.AN_PERMISSIONS_INVALID, PermissionSpace.PS_DEFAULT_HOME));
    }
}
else
{
    //If user not authenticated, route to default home
    Response.Redirect(Url.Action(ActionName.AN_INDEX, PermissionSpace.PS_DEFAULT_HOME));
}