@model CommerceIdeaBank.Models.ViewModels.Admin.AdminProjectViewModel
@using CommerceIdeaBank.GlobalConstants

@{
    ViewBag.Title = "Idea Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Request.IsAuthenticated)
{
    int role = (int)HttpContext.Current.Session["userRole"];

    if (role == UserRole.ADMIN)
    {

        <h1 class="header">Project Details</h1>
        <h2>@Html.DisplayFor(model => model.ProjectName)</h2>
        <hr />

        <div>
            <table class="view_table">
                <tr>
                    <td>Username: </td>
                    <td>@Html.DisplayFor(model => model.Username)</td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td>@Html.DisplayFor(model => model.ProjectDesc)</td>
                </tr>
                <tr>
                    <td>Justification: </td>
                    <td>@Html.DisplayFor(model => model.BusinessJustification)</td>
                </tr>
                <tr>
                    <td>Post Date: </td>
                    <td>@Html.DisplayFor(model => model.PostDate)</td>
                </tr>
            </table>
        </div>
        <div>

        @if (Request.IsAuthenticated)
        {
            if (role == 4)
            {
                <input type="button" class="button" value="Edit Idea" onclick="location.href='@Url.Action(ActionName.AN_EDIT_IDEA, PermissionSpace.PS_ADMIN_HOME, new { id = Model.ProjectID })'" />
                <input type="button" class="button" value="Delete" onclick="location.href='@Url.Action(ActionName.AN_DELETE_IDEA, PermissionSpace.PS_ADMIN_HOME, new { id = Model.ProjectID })'" />
                <input type="button" class="button" value="Archive" onclick="location.href='@Url.Action(ActionName.AN_ARCHIVE_IDEA, PermissionSpace.PS_ADMIN_HOME, new { id = Model.ProjectID })'" />
                <input type="button" class="button" value="Assign Project" onclick="location.href='@Url.Action(ActionName.AN_SELECT_SCHOOL, PermissionSpace.PS_ADMIN_HOME, new { id = Model.ProjectID })'" />
            }
            else
            {
                @* *** Indicate need to redirect here *** *@
        
                @Html.ActionLink("Return Home", ActionName.AN_INDEX, PermissionSpace.PS_DEFAULT_HOME);
            }
        }
        </div>
    
    
    }
    else
    {
        //Error. Permissions invalid. Log user off and redirect to default home
        Response.Redirect(Url.Action(ActionName.AN_PERMISSIONS_INVALID, PermissionSpace.PS_DEFAULT_HOME));
    }
}
else
{
    //If user not authenticated, route to default home
    Response.Redirect(Url.Action(ActionName.AN_INDEX, PermissionSpace.PS_DEFAULT_HOME));
}