@model CommerceIdeaBank.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "Create user failed, Check your fields.");
    <div>
        <fieldset>
            <legend>Create New Account</legend>
            <div class="editor-label">
                @Html.LabelFor(x => x.Username)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Username, new { @class = "input_textbox" })
                @Html.ValidationMessageFor(x => x.Username)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(x => x.Email, new { @class = "input_textbox" })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="editor-label">
                @Html.LabelFor(x => x.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(x => x.Password, new { @class = "input_textbox" })
                @Html.ValidationMessageFor(x => x.Password)
            </div>

            <input type="submit" value="Register" class="submit_button button" />
        </fieldset>
    </div>
}